%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}

%h1 Tasks
%br=link_to 'Add a task', new_task_path
%br
= select_tag :filter, options_for_select({"Completed" => true, "Incompleted" => false}), :prompt => "viewed by" 


%table
  %thead
    %tr
      %th Name
      %th Completed
      %th
      %th
      %th

  %tbody{id: 'tasks'}
    = render :partial => 'list_partial'

:javascript
  $('#filter').change(function(){
    $.ajax({
      url: '/tasks',
      type: 'GET',
      data: {completed: $('#filter option:selected').val()}
    })
  });