%p#notice=notice

%p
  %b Name:
  =@task.name
%p
  %b Completed:
  =@task.completed
:css
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } 
  th, td {
    padding: 5px;
    text-align: left;    
  }
%body
  - if @audits.present?
    %p Task audit history
    %table{:style => "width:100%"}
      %tr
        %th Comment
        %th Performed by
        %th action
        %th Performed AT
      - @audits.each do |a|
        %tr
          %td=a.comment.nil? ? 'N/A' : a.comment
          %td=a.user.email
          %td=a.action
          %td=a.created_at.strftime("%D %H:%M %p")
  - else
    %p No audit history for this task 



=link_to 'Edit', edit_task_path(@task)
\|
=link_to 'Back', tasks_path
